.scrollbar-none::-webkit-scrollbar {
  display: none; /* Hide the scrollbar in Webkit browsers */
}
.scrollbar-none {
  -ms-overflow-style: none; /* Hide the scrollbar in IE and Edge */
  scrollbar-width:    none; /* Hide the scrollbar in Firefox */
  overflow:           hidden;
}
